@import 'tailwindcss';

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

input[type='checkbox'],
input[type='radio'] {
  accent-color: #a07ff3;
  cursor: pointer;
}

button {
  cursor: pointer;
}

/* Кастомизация скроллбара для Webkit браузеров */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #dedde4;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d3caef;
  border-radius: 6px;
  cursor: grab;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cebeff;
}
