@import 'tailwindcss';

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

input[type='checkbox'],
input[type='radio'] {
  accent-color: #a07ff3;
  cursor: pointer;
}

button:not(:disabled) {
  cursor: pointer;
}

/* Кастомизация скроллбара для Webkit браузеров */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #dedde4;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d3caef;
  border-radius: 6px;
  cursor: grab;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cebeff;
}

/* Кастомизация скроллбара с отступами для модального окна */
.custom-scrollbar-2::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar-2::-webkit-scrollbar-track {
  border-radius: 4px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.custom-scrollbar-2::-webkit-scrollbar-thumb {
  background-color: #bebec3;
  border-radius: 6px;
  cursor: grab;
}

.custom-scrollbar-2::-webkit-scrollbar-thumb:hover {
  background-color: #a3a2a9;
}

/* Анимация появления */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out;
}
